-
    exhibition = 'Kleinevalleij';
    series = '2012';
    caption = 'The exhibition hall.';
    imgWidth = '100%';
    imgHeight = 'auto';
    imgThumbWidth = '100%';
    imgThumbHeight = 'auto';
    pathImagesRaster = '/assets/images/exhibitions/2012/_linked/_verbatim/';
    pathImagesVector = '/assets/images/_sprites/symbols.svg';

    id = 11;

.gallery-1__item(data-id= id)

    a.gallery-1__thumb(href=`#${ series }-${ id }`)

        img.gallery-1__thumb-image(
            src=`${ pathImagesRaster }${ id }.webp`
            width= imgThumbWidth
            height= imgThumbHeight
            loading="lazy"
            alt="image thumbnail")

        span.gallery-1__thumb-title= title

    .gallery-1__modal(id=`${ series }-${ id }`)

        a.gallery-1__modal-close(href="#")

        figure.gallery-1__modal-image-wrapper

            .gallery-1__modal-image

                img(src=`${ pathImagesRaster }${ id }.webp`
                    width= imgWidth
                    height= imgHeight
                    loading="lazy"
                    alt= title)

                button(
                    class="gallery-1__modal-nav " +
                          "gallery-1__modal-nav-left"
                    ): svg: use(xlink:href=`${ pathImagesVector }#gallery-1__modal-nav-left`)

                button(
                    class="gallery-1__modal-nav " +
                          "gallery-1__modal-nav-right"
                    ): svg: use(xlink:href=`${ pathImagesVector }#gallery-1__modal-nav-right`)

                button(
                    class="gallery-1__modal-nav " +
                          "gallery-1__modal-nav-pause"
                    )

            button(
                class="gallery-1__modal-nav " +
                      "gallery-1__modal-nav--pause"
                ): svg: use(xlink:href=`${ pathImagesVector }#gallery-1__modal-nav--pause`)

            figcaption.gallery-1__modal-meta

                span.gallery-1__modal-meta-caption= caption
                span.gallery-1__modal-meta-series= series
                span.gallery-1__modal-meta-exhibition= exhibition
