extends ../../_/body

//- variables
block context
    -
        bodyId = 'gallery';
        bodyClass = 'gallery index';
        pageTitle = 'Gallery | Amanda Kreitzer';

        artist = 'Artist: Amanda Kreitzer';
        pathImages = '/assets/images/gallery/_link/';
        iterationsBuy = [1,2,3,14,35,6,1,232,3,4,5,6,2,3,4,5,6];
        iterationsSold = [11,12,13,14,15,11,12,13,14,15];

block header
    +header-3("/", "", "Amanda Kreitzer", [
        {
            href: "/gallery",
            name: "Gallery"
        },
        {
            href: "/about",
            name: "About"
        },
        {
            href: "/contact",
            name: "Contact"
        }
    ])

//- body
block main

    main(role="main")

        .canvas

            .content

                h2.heading-page The Gallery

                .grid

                    each count in iterationsBuy

                        .item

                            a.thumbnail(href=`#${ count }`)
                                img.thumbnail-image(src=`${ pathImages }1_thumb.jpg` alt="thumbnail")
                                span.thumbnail-title Woman with cup
                                span.thumbnail-id #{ count }

                            .modal(id=`${ count }`)

                                a.close(href="#")

                                figure

                                    img(src=`${ pathImages }1.jpg`
                                        width="100%" height="auto"
                                        alt=`Lady with coffee. ${ artist }`)

                                    figcaption

                                        .meta
                                            span.title Woman with cup
                                            span.artist by Amanda Kreitzer
                                            span.id Art. ##{ count }

                                            .meta-inner

                                                dl
                                                    dt released
                                                    dd 2020
                                                dl
                                                    dt medium
                                                    dd Oil
                                                dl
                                                    dt substrate
                                                    dd Canvas
                                                dl
                                                    dt framed
                                                    dd Yes
                                                dl
                                                    dt width
                                                    dd 24" (72cm)
                                                dl
                                                    dt height
                                                    dd 15" (35cm)

                                        .actions
                                            span.price
                                                | $8200
                                                sup .00

                                            button.buy Buy

                    each count in iterationsSold

                        .item.sold

                            a.thumbnail(href=`#${ count }`)
                                img.thumbnail-image(src=`${ pathImages }1_thumb.jpg` alt="thumbnail")
                                span.thumbnail-title Woman with cup
                                span.thumbnail-id #{ count }

                            .modal(id=`${ count }`)

                                a.close(href="#")

                                figure

                                    img(src=`${ pathImages }1.jpg`
                                        width="100%" height="auto"
                                        alt=`Lady with coffee. ${ artist }`)

                                    figcaption

                                        .meta
                                            span.title Woman with cup
                                            span.artist by Amanda Kreitzer
                                            span.id Art. ##{ count }

                                            .meta-inner

                                                dl
                                                    dt released
                                                    dd 2020
                                                dl
                                                    dt medium
                                                    dd Oil
                                                dl
                                                    dt substrate
                                                    dd Canvas
                                                dl
                                                    dt framed
                                                    dd Yes
                                                dl
                                                    dt width
                                                    dd 24" (72cm)
                                                dl
                                                    dt height
                                                    dd 15" (35cm)

                                        .actions
                                            span.price
                                                | $8200
                                                sup .00

                                            button.buy Buy

            +nav-1({
                target: "gallery",
                direction: "prev",
                icon: "nav-1-fill",
            })
