-
    title = 'Title to be confirmed';
    pathImages = '/assets/images/gallery/_linked/_verbatim/';
    imgThumbWidth = '100%';
    imgThumbHeight = 'auto';
    imgWidth = '100%';
    imgHeight = 'auto';

    id = 38;

.gallery-main__item.gallery-main__item--sold

    a.gallery-main__thumb(href=`#${ id }`)
        img.gallery-main__thumb-image(
            src=`${ pathImages }${ id }.webp`
            width= imgThumbWidth
            height= imgThumbHeight
            loading="lazy"
            alt="thumbnail")
        span.gallery-main__thumb-title= title
        span.gallery-main__thumb-id= id

    .gallery-main__modal(id= id)

        a.gallery-main__modal-close(href="#")

        figure.gallery-main__modal-image

            img(src=`${ pathImages }${ id }.webp`
                width= imgWidth
                height= imgHeight
                loading="lazy"
                alt= title)

            figcaption.gallery-main__modal-meta

                .gallery-main__modal-meta-header
                    span.gallery-main__modal-meta-title= title
                    span.gallery-main__modal-meta-artist by Amanda Kreitzer
                    span.gallery-main__modal-meta-id Art. #{ id }

                    .gallery-main__modal-meta-specs

                        dl
                            dt released
                            dd 1995
                        dl
                            dt medium
                            dd Oil
                        dl
                            dt substrate
                            dd Wood
                        dl
                            dt framed
                            dd Yes
                        dl
                            dt width
                            dd 15" (38cm)
                        dl
                            dt height
                            dd 15" (38cm)

                .gallery-main__modal-meta-actions
                    span.gallery-main__modal-meta-status Sold
                    span.gallery-main__modal-meta-price
                        | $---
                        sup .00

                    a.gallery-main__modal-meta-buy(href="/contact/") Contact
