-
    title = 'Checking In';
    pathImages = '/assets/images/gallery/_linked/_verbatim/';
    imgThumbWidth = '100%';
    imgThumbHeight = 'auto';
    imgWidth = '100%';
    imgHeight = 'auto';

    id = 62;

.gallery-main__item.gallery-main__item

    a.gallery-main__thumb(href=`#${ id }`)
        img.gallery-main__thumb-image(
            src=`${ pathImages }${ id }.webp`
            width= imgThumbWidth
            height= imgThumbHeight
            loading="lazy"
            alt="thumbnail")
        span.gallery-main__thumb-title= title
        span.gallery-main__thumb-id= id

    .gallery-main__modal(id= id)

        a.gallery-main__modal-close(href="#")

        figure.gallery-main__modal-image

            img(src=`${ pathImages }${ id }.webp`
                width= imgWidth
                height= imgHeight
                loading="lazy"
                alt= title)

            figcaption.gallery-main__modal-meta

                .gallery-main__modal-meta-header
                    span.gallery-main__modal-meta-title= title
                    span.gallery-main__modal-meta-artist by Amanda Kreitzer
                    span.gallery-main__modal-meta-id Art. #{ id }

                    .gallery-main__modal-meta-specs

                        dl
                            dt released
                            dd 2022
                        dl
                            dt medium
                            dd Oil
                        dl
                            dt substrate
                            dd Canvas
                        dl
                            dt framed
                            dd No
                        dl
                            dt width
                            dd 24" (60.96cm)
                        dl
                            dt height
                            dd 30" (76.2cm)

                .gallery-main__modal-meta-actions
                    span.gallery-main__modal-meta-status
                    a.gallery-main__modal-meta-buy(href="/contact/") Contact
